<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:martin-top="http://www.w3.org/1999/xhtml"
      xmlns:text-align="http://www.w3.org/1999/xhtml">
<head th:insert="fragments :: head">

</head>
<body>

<header style="text-align: center; margin-bottom: 30px;">
    <div class="masthead-content">
        <div class="container">
            <h4 class="masthead-heading mb-0">Bienvenido a tu calculadora de IVA</h4>

        </div>
    </div>

</header>

<section style="text-align:center; margin-top: 50 px">
    <div class="container" >
        <form >
            <div class="row align-items-center">
                <h4 style="text-allign: center">Deducir IVA de un precio</h4>
                <button class="btn btn-success" style="text-allign: center;">
                    <a href="/suma" style="color: white">Sumar</a></button>
        </form>
    </div>
    </div>
</section>




<div th:insert="fragments::footer"></div>

</body>
</html>