<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link  href="{% static 'static/css/gestion.css' %}" rel="stylesheet">
    <title>Calculadora de IVA</title>

    <head>

<body >
    <header style="color: black; text-align: center">
        <h2 >
            Bienvenido a tu calculadora de IVA
        </h2>
    </header>
    <section>
    <div class="mb-3" style="text-align: center;">
    <form th:action="@{/sumar-iva}" method="POST"  >
        <h4>Sumar IVA</h4>
        <br>
        <p>Ingresa el precio</p>
        <input type="double" placeholder="Precio bruto">
        <br>
        <p>Ingresa el porcentaje de IVA</p>
        <input type="double" placeholder="Porcentaje de IVA">
        <br>
        <br>
        <button type="button" class="btn btn-info">
            <a th:href="@{/sumar-iva}">
                Sumar
            </a>
        </button>
    </form>
    </div>
    </section>


    <section>
        <div class="mb-3" style="text-align: center;">
            <form th:action="@{/deducir-iva}" method="POST" >
                <h4>Deducir IVA</h4>
                <br>
                <p>Ingresa el precio</p>
                <input type="double" placeholder="Precio bruto" th:value="${precio}">
                <br>
                <p>Ingresa el porcentaje de IVA</p>
                <input type="double" placeholder="Porcentaje de IVA" th:value="${iva}">
                <br>
                <br>
                <button type="button" class="btn btn-info">
                    <a th:href="@{/deducir-iva}">
                        Deducir
                    </a>
                </button>
            </form>
        </div>
    </section>






   <script src="{% static 'sitio_web/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'sitio_web/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="bootstrap.bundle.min.js / bootstrap.bundle.js"></script>

</body>

</html>