<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:martin-top="http://www.w3.org/1999/xhtml"
      xmlns:text-align="http://www.w3.org/1999/xhtml">
<head th:insert="fragments :: head">
    
</head>
<body>
    
     <header style="text-align: center; margin-bottom: 30px;">
        <div class="masthead-content">
          <div class="container">
            <h4 class="masthead-heading mb-0">Bienvenido a tu calculadora de IVA</h4>

          </div>
        </div>

      </header>

      <section style="text-align:center; margin-top: 50 px">
        <div class="container" >
          <div class="row align-items-center">
            <h4 style="text-allign: center">Sumar IVA a un precio</h4>
              <button class="btn btn-success" style="width: 30%; text-allign: center; items-align:center;">
                  <a href="/sumar" style="color: white;">Sumar</a></button>
          </div>
        </div>
      </section>

     <section style="text-align:center; margin-top: 50px">
         <div class="container" >
             <div class="row align-items-center">
                 <h4>Deducir IVA de un precio</h4>
                 <button class="btn btn-success" style="width: 30%; text-allign: center;">
                     <a href="/deduccion" style="color: white">Deducir</a></button>
             </div>
         </div>
     </section>

    
  <div th:insert="fragments::footer"></div>
  
</body>
</html>