<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de IVA</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"
            defer></script>
    <link rel="stylesheet" href="../static/style/css/style.css" th:href="@{style/css/style.css}">
</head>

<body>

<h3 style="text-align: center"> Bienvenido a tu calculadora de IVA</h3>

<section style="text-align: center">
    <form method="post" th:action="@{/sumar-iva}">
        <br>
        <br>
        <label  class="form-label">Ingresa el precio</label>
        <input style="margin-left: 300px; width: 50%" type="double"  class="form-control" placeholder="Precio" name="precio" th:value="${precio}">
        <br>
        <br>
        <label  class="form-label">Ingresa el porcentaje de IVA</label>
        <input style="margin-left: 300px; width: 50%" type="double"  class="form-control" placeholder="Porcentaje de IVA" name="porcentaje" th:value="${porcentaje}">
        <br>
        <br>
        <button type="submit"> Sumar </button>
    </form>
</section>


</body>

</html>