<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head >

</head>
<body>

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container" style="text-align: center; margin: auto;">
            <h3 class="masthead-heading mb-0">Bienvenido a tu calculadora de IVA</h3>
        </div>
    </div>
</header>

<div class="container" style="text-align: center; margin: auto;">
    <h4>Suma tu IVA a tu precio</h4>
    <button class="btn btn-success">
        <a th:href="@{/suma}">Sumar</a>
    </button>
</div>

</body>
</html>